<div  class="mx-auto" style="width: 300px;">
  <div>
  <img src="/images/beer.png" alt="beer-img" style="height: auto; width:100%;">
</div>
<div>
    <button type="button" class="btn btn-primary "><a href="/beers" class = "color"> Check the Beers! </a> </button>
<br>
<br>
 <button type="button" class="btn btn-primary "><a href="/random-beers" class = "color"> Check a Random Beer </a> </button>

</div>
</div>